# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET

TELEGRAM_API_KEY=12345

AIRTABLE_ENDPOINT='https://api.airtable.com'
AIRTABLE_API_KEY=''
AIRTABLE_BASE_ID=''
AIRTABLE_BASE_NAME=''
AIRTABLE_TABLE_URLS=''
AIRTABLE_TABLE_IMAGES=''
AIRTABLE_TABLE_AVATARS=''

# note: .env is a shell file so there can't be spaces around =
